<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inteligentny parking</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<h1> Witamy w aplikacji :)))</h1>
<p>Wyświetl miejsca parkingowe</p>
<p>Znajdź miejsce parkingowe</p>
<a th:href = "@{/showParkingInstructionForm}" class="btn btn-primary"> Instrukcja dodawania parkingu </a>
<a th:href = "@{/showParkingExchangeForm}" class="btn btn-primary"> Giełda miejsc parkingowych </a>
</body>
</html>